@font-face {
    font-family: Pretendard-Regular;
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Pretendard-Regular;
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
        format("woff");
    font-weight: 700;
}

* {
    font-family: Pretendard-Regular, sans-serif;
}

/*

변수 사용하기
https://inpa.tistory.com/entry/CSS-%F0%9F%93%9A-CSS%EC%9A%A9-%EB%B3%80%EC%88%98-variable-%EC%A0%95%EB%A6%AC

*/
:root {
    --today-font-color: orange;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: darkgoldenrod; */
    height: 13vh;
}

.header-yymm {
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    color: rgba(127, 255, 212, 0.918);
    display: flex;
    justify-content: flex-start;
    line-height: 13vh;
    background: linear-gradient(to right, aquamarine 20%, white 80%);
    padding-left: 2vh;
    border-radius: 13vh;
    font-size: 10vh;
    width: 100%;
}
.header-yymm img {
    max-height: 80%;
    text-align: center;
}
.header-yymm div {
    font-family: Pretendard-Regular, sans-serif;
    font-weight: 700;
    margin-left: 2vh;
}
.header-yymm-logo {
    display: flex;
    align-items: center;
}

.header-season {
    display: flex;
    align-items: center;
    width: 50%;
}
.header-season-pic img {
    position: absolute;
    left: 50%;
    transform: translate(-65%, -50%);
    max-height: 20%;
}
.header-season-info {
    line-height: 15vh;
    /* background-color: yellow; */
    width: 50%;
}

.header-updateInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: coral;
}
.header-updateInfo div {
    color: black !important;
}

.calendar-body {
    margin-top: 10px;
    color: white;

    background-color: black;
}

.calendar-weekday,
.week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.before-month,
.after-month {
    /*이전달, 다음날 날짜는 회색 표시*/
    color: grey;
}
.today {
    /*오늘 날짜에 주황색 표시*/
    color: orange;
}
.calendar-weekday div {
    width: 100%;
    font-size: 5vh;
    padding: 10px 10px 10px 10px; /*요일 글자 주위 여백 주기*/
    border: 0.5px solid white;
    border-bottom: 3px solid white;
}
.calendar-weekday {
    width: 100%;
    height: 100%;
    align-items: center;
}

.calendar-day .week .day {
    width: 100%;
    height: 0;
    border: 0.1px solid white;
    padding-top: 5px; /*date 숫자를 위의 선과 분리*/
    font-weight: 900;
    padding-bottom: 21%;
}

.day-date {
    text-align: left;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 5vh;
}
.day-event {
    height: 5vh;
    background-color: chocolate;
}

.day-header {
    display: flex;
    align-content: flex-start;
}
.day-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.day-header:nth-child(1) {
    flex-grow: 1;
}
.day-header:nth-child(2) {
    flex-grow: 2;
}
.calendar-day {
    font-size: 4vh;
    height: 50vh;
}

.symbol-description {
    background-color: gray;
    opacity: 0.7;
    height: 30px;
    line-height: 30px;
}

.week {
    position: relative; /*레이드 div 띄우기 위해서 설정*/
}

/* 레이드 관련 CSS */
.raid-event {
    /*이 부분 수정해서 위치 조정*/
    font-size: 3vh;
    opacity: 0.7;
}
.raid-event:hover {
    opacity: 1;
    cursor: pointer;
}

/*메가레이드*/
.raid-event.mega {
    background-color: brown;
}
/*전설레이드*/
.raid-event.legend {
    background-color: royalblue;
}

/*레이드 컨테이너 공통*/
.raid-container {
    width: 100%;

    /*레이드 줄의 상세위치 설정용*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}
.raid-container.mega-raid-event {
    bottom: 12%; /*레이드 줄의 상세위치*/
}
.raid-container.legend-raid-event {
    bottom: 2%; /*레이드 줄의 상세위치*/
}

/*아워 이벤트*/
.hour-title {
    width: 100%;
    background-color: grey;
    font-size: 2.5vh;
    /*임의로 높이 줌*/
    line-height: 30px;
    height: 30px;
    border-radius: 30px;
}

.hour-container,
.hour-header {
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hour-header-info div {
    font-size: 1.7vh;
}
.hour-header-info {
    text-align: left !important; /*App.css에 가운데로 정렬되게 해놨음*/
    width: 100%;
    top: 3px;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.hour-header-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hour-header {
    margin-left: 10px;
    margin-right: 10px;
}
.hour-pm {
    position: relative;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-bottom: auto;
}
.hour-pm img {
    width: 130px;
    position: absolute;
    bottom: -40px;
    left: -90px;
}
