/*
    반응형 웹사이트 만들기
    flex 계층은 아래와 같다 (flex-container > flex-item)
    [1] cal-header > cal-title + cal-info
    [2] cal-title > cal-pogo-image + cal-yymm + cal-season-image
        cal-info > cal-season-info + cal-calendar-info
*/

/*******************************************
    전체 설정
*******************************************/

/*달력 header + body + footer 간의 간격*/
/*header는 2줄일 때가 많아서 내부 요소들에 지정, footer는 맨 밑이라 필요없어서 제거*/
.cal-body {
    margin-bottom: 1vw;
}

.cal-footer {
    width: 100%;
    background-color: grey;
}

.disabled {
    color: rgb(120, 120, 120);
    opacity: 0.7; /*전체 투명도 지정*/
}

/*******************************************
    cal-header 설정
*******************************************/
/*[1] cal-title 캘린더 타이틀 부분*/
.cal-header > div {
    margin-bottom: 1vw;
}
.cal-title {
    /*flex 설정*/
    width: 60%;
    flex-grow: 0;
    /*title 배경설정*/
    background: linear-gradient(to right, aquamarine 20%, white 80%);
    height: 6vw;
    border-radius: 6vw; /*0 50% / 0 100%; 높이만큼 설정하고 싶음*/
    /*내부 아이템 정렬*/
    padding-left: 2vw; /*앞 간격지정*/
    align-items: center; /*세로정렬*/
}
.cal-pogo-image {
    /*flex 설정*/
    width: 15%
}
.cal-pogo-image img { /*이미지 크기 제어*/
    width: 100%;
    height: auto;
    max-width: 100%;
}
.cal-yymm {
    /*flex 설정*/
    width: 40%;
    /*연도.월 정보 글자 스타일*/
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    color: rgba(127, 255, 212, 0.918);
    font-size: 4.1vw;
    text-align: left;
}
.cal-season-image {
    /*flex 설정*/
    width: 40%;
}
.cal-season-image img { /*이미지 크기 제어*/
    width: 100%;
    height: auto;
    max-width: 100%;
}

/*[2] cal-info 캘린더 정보 부분
.cal-info {*/
    /*flex 설정
    width: 20%;
}*/
/*[2] cal-info 캘린더 정보 부분*/
.cal-info:first-child:nth-last-child(2) {
    width: 40%;
}
.cal-info:first-child:nth-last-child(1) {
    width: 20%;
}
.cal-info {
    font-size: 1.3vw;
}
.cal-season-info {
    width: 70%;
    font-size: 1vw;
}
.cal-calendar-info {
    width: 30%;
}

/*******************************************
    cal-body 설정
*******************************************/
/*Grid 설정으로 div들 table 처럼 동작*/
.table { /*요일과 날짜 같이 세로 정렬*/
    display: grid;
    grid-template-rows: auto 1fr;
}
.tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /*일주일*/ /*week item들 넣으면서 깨져서 옮김*/
    gap: 0;
    /*display: contents;*/
}
.tbody .tr {
    /*week, event 띄우기 위한 설정*/
    position: relative;
}
.td { /*전체 칸*/
    padding: 0.4vw;
    border: 1px solid;
    /*text-align: center;*/
    outline: 1px solid; /*border 겹치게끔 하기*/
    /*내부 내용물*/
    /*text
    font-size: calc(2vmax);*/
}
.thead .td { /*요일 칸*/
    border-bottom: 2px solid;
    font-size: 1.7vw;
}
.tbody .td { /*날짜(Day) 칸*/
    min-width: calc(100% / 7);
    aspect-ratio: 0.6;
    overflow: visible; /*넘치는 내용물 보이게 하기*/
}

/***************************************
    cal-day 설정 -- Day.css 로 옮김
***************************************/

/***************************************
    cal-week 설정 -- Week.css 로 옮김
***************************************/



/*
    반응형 웹사이트 만들기
    flex 계층은 아래와 같다 (flex-container > flex-item)
    [1] cal-header > cal-title + cal-info
    [2] cal-title > cal-pogo-image + cal-yymm + cal-season-image
        cal-info > cal-season-info + cal-calendar-info
*/
@media screen and (min-width: 1024px)  { /*PC 설정 : 1024px 이상*/
    /*바깥 기본 설정 사용*/

}
@media screen and (min-width: 768px) and (max-width: 1023px) { /*태블릿,패드 설정 : 768px ~ 1023px*/
    .cal-title {
        width: 60%;
    }
    .cal-info:first-child:nth-last-child(2) {
        width: 40%;
    }
    .cal-info:first-child:nth-last-child(1) {
        width: 20%;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) { /*모바일 설정 : 480px ~ 767px*/
    .cal-title {
        width: 100%;
    }
    .cal-info {
        width: 100%;
        /*글자크기 좀 더 크게 설정*/
        font-size: 2vw;
    }
    .cal-season-info {
        font-size: 1.8vw;
    }
    .cal-header {
        flex-wrap: wrap;
    }
    /*[1] cal-title 캘린더 타이틀 부분*/
    .cal-title {
        height: 11vw;
        border-radius: 11vw;
    }
    .cal-yymm {
        font-size: 7.5vw;
        line-height: 7.5vw;
    }
    /*글자크기 재조정 필요*/
    .thead .td {/*요일*/
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 479px) { /*작은 모바일 설정 : 479px 이하*/
    .cal-title {
        width: 100%;
    }
    .cal-info {
        width: 100%;
        /*글자크기 좀 더 크게 설정*/
        font-size: 2vw;
    }
    .cal-season-info {
        font-size: 1.8vw;
    }
    .cal-header {
        flex-wrap: wrap;
    }
    /*[1] cal-title 캘린더 타이틀 부분*/
    .cal-title {
        height: 11vw;
        border-radius: 11vw;
    }
    .cal-yymm {
        font-size: 7.5vw;
        line-height: 7.5vw;
    }
    /*글자크기 재조정 필요*/
    .thead .td {/*요일*/
        font-size: 3vw;
    }
}