/***************************************
    cal-week 설정
***************************************/
.week {
    /*incident의 높이 변수로 지정*/
    --week-item-height: 2.0vw; 
    --week-item-margin-bottom: 0.3vw;
    /*세로정렬*/
    flex-direction: column; 
    /*td 요소들과의 충돌 제거*/
    position: absolute; 
    bottom: 0;
    right: 0;
    width: 100%;
}
.week > div {
    /*글자속성*/
    line-height: 175%;
    font-size: 1vw;
    height: var(--week-item-height);
    margin-bottom: var(--week-item-margin-bottom);
}
/*[1] 주간레이드*/
.week-raid-box {
    background-color: cornflowerblue;
}
/*[2] 주간이벤트*/
.week-event {
    background-color: lightcoral;
}
/*주간일정 시간표시 div*/
.week-item-start-time, .week-item-end-time {
    position: absolute;
    font-size: 0.9vw;
    top: -1.1vw; /*각각 부모가 position: absolute, relative라서 bottom 지정 시 위치가 다름*/
    z-index: 10;
}
.week-item-start-time {
    left: 1vw;
}
.week-item-end-time {
    right: 1vw;
}