* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*padding이나 margin, border로 width 바뀌지 않도록 함*/
}
html, body {
    /*footer 화면 최하단에 위치*/
    height: 100%;
    /*전체 폰트 지정*/
    font-family: "NanumSquareNeo";
    font-weight: 600;
}

/*flex 설정 주기*/
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.flex-container > div {
    /*background-color: greenyellow;
    border: 1px solid;*/
    flex: 1 1 auto; /*grow:1, shrink:1, basis:auto*/
}

.page-container {
    padding: 10vw; /*페이지 내부 여백(컨텐츠 둘레 공간)*/
}
.container {
    /*  가운데정렬을 위해서 사용했었는데 flex 사용해서 
    없어도 크게 의미가 없는 듯?? 일단 둠*/
    margin-left: auto;
    margin-right: auto;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.App-header { /*전체 레이아웃 Header*/
    background-color: cornflowerblue;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-footer { /*전체 레이아웃 Footer*/
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(228, 228, 228);
}

.App-link {
    color: #61dafb;
}

/*전체 페이지 공통 
    - header 와 footer 제외한 높이 100% 차지*/
.page-container {
    height: 100%;
}

/*
    반응형 웹사이트 만들기
*/
@media screen and (min-width: 480px) and (max-width: 767px) { /*모바일 설정 : 480px ~ 767px*/
    .page-container { 
        padding: 7vw; /*페이지 내부 여백(컨텐츠 둘레 공간)*/
    }
}
@media screen and (max-width: 479px) { /*작은 모바일 설정 : 479px 이하*/
    .page-container { 
        padding: 7vw; /*페이지 내부 여백(컨텐츠 둘레 공간)*/
    }
}